<h1>Listing positions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Remark</th>
    <th>Created</th>
    <th>Modified</th>
    <th>Created by</th>
    <th>Modified by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.name %></td>
    <td><%= position.remark %></td>
    <td><%= position.created %></td>
    <td><%= position.modified %></td>
    <td><%= position.created_by %></td>
    <td><%= position.modified_by %></td>
    <td><%= link_to 'Show', position %></td>
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <td><%= link_to 'Destroy', position, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Position', new_position_path %>
