<div class="form block">
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="fieldset">
    <div class="field">
      <div class="label"><%= f.label :name %></div>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :email %></div>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :created %></div>
      <%= f.datetime_select :created %>
    </div>

    <div class="field">
      <div class="label"><%= f.label :position %></div>
      <%=f.select :position_id, [['Please select', '']] | Position.all.collect { |position| [position.name, position.id] } %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>
