<script type="text/javascript">
$(document).ready(function() {$('.grid').vtgrid({})});
</script>
<div class="list-wrapper">
  <div class="grid block">
    <div class="block-header">
      <div><h4>Follow Projects</h4></div>
      <div class="split-line"></div>
    </div>
    <table>
      <thead>
        <tr class="headings">
          <th>Name</th>
          <th>Email</th>
          <th>Position</th>
          <th>Total work hours</th>
          <th>Month work hours</th>
          <th>Created</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
        <tr <% if index%2==0 %>class="even pointer"<% else %>class="pointer"<% end %>>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.position.name %></td>
          <td><%= user.total_work_hours %></td>
          <td><%= user.month_work_hours %></td>
          <td><%= user.created %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="options">
      <ul class="">
        <li class="lf"><%= link_to 'New User', new_user_path %></li>
      </ul>
    </div>
  </div>
</div>


