<% @project.followers.build %>
<div class="form block">
  <%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="fieldset">
    <div class="field">
      <div class="label"><%= f.label :name %></div>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :remark %></div>
      <%= f.text_area :remark %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :created %></div>
      <%= f.datetime_select :created %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :deadline %></div>
      <%= f.datetime_select :deadline %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :followers %></div>
      <%= render :partial => 'followers/form',
                 :locals => {:form => f} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>

