<% content_for :header do %>
<%= javascript_include_tag "work_orders_form" %>
<% end %>
<div class="form block">
  <%= form_for(@work_order) do |f| %>
  <% if @work_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_order.errors.count, "error") %> prohibited this work_order from being saved:</h2>

      <ul>
      <% @work_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fieldset">
    <div class="field">
      <div class="label"><%= f.label :content %></div>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :remark %></div>
      <%= f.text_area :remark %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :work_hours %></div>
      <%= f.number_field :work_hours %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :created %></div>
      <%= f.datetime_select :created %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :project_phase %></div>
      <%= f.select :project_phase_id, [['Please select', '']] |
                                      ProjectPhase.all.collect { |project_phase| [project_phase.project.name + "-" + project_phase.name, project_phase.id] } %>
    </div>
    <div id="user_select_field_container">

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  <% end %>
</div>
