<div class="form block">
  <%= form_for(@project_phase) do |f| %>
  <% if @project_phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_phase.errors.count, "error") %> prohibited this project_phase from being saved:</h2>

      <ul>
      <% @project_phase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fieldset">
    <div class="field">
      <div class="label"><%= f.label :name %></div>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :deadline %></div>
      <%= f.datetime_select :deadline %>
    </div>
    <div class="field">
      <div class="label"><%= f.label :project %></div>
      <%= f.select :project_id, [['Please select', '']] | Project.all.collect { |project| [project.name, project.id] }%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
  <% end %>
</div>
