<!DOCTYPE html>
<html>
  <head>
    <title>ProjectsMgr</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="nav clearfix">
          <ul class="lf menu">
            <li class="lf"><%= link_to 'Users', users_path %></li>
            <li class="lf"><%= link_to 'Projects', projects_path %></li>
            <li class="lf"><%= link_to 'Projects Phase', project_phases_path %></li>
            <li class="lf">Work Hours</li>
            <li class="lf">Settings</li>
          </ul>
        </div>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
